//import variables scss
@import 'variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

:root {
  --background: #fff;

  --blue: #0f9afe;
  --gray-200: #293145;
  //colors
  --white: #fff;
  --white-200: #eff8ff;
  --gray-light: #dbdbdb;
  --gray: #6e7275;

  //fonts
  --font1: 'Sora', sans-serif;
  --font2: 'Inter', sans-serif;
}

body {
  background: var(--background);
}

body,
button,
textarea,
input {
}

a {
  color: var(--blue);
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
.container {
  margin: 0 auto;
}
.container-fluid {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}
